

/* Aim section styling */
.aim {
    height: 60vh;
    width: 100%;
    background-color: beige;
}

.aim .aim-text {
    padding-top: 5%;
    text-align: center;
}

.aim .aim-text .title {
    font-size: 2em;
    font-weight: bold;
}

.aim .img-icon {
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.aim .img-icon img {
    height: 60px;
    margin-left: 68px;
}

.aim .img-icon h6 {
    margin-left: 48px;
    padding-top: 5%;
}


/* News section styling */
.news {
    width: 100%;
    height: 100vh;
}

.news .news-text {
    text-align: center;
    padding-top: 6%;
}

.news .news-text .title {
   font-size: 2em;
   font-weight: bold;
}

.news .row {
    margin-top: 4%;
}

/* The flip box container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-box {
    background-color: transparent;
    width: 100px;
    height: 480px;
    perspective: 1000px; 
  }
  
  /* This container is needed to position the front and back side */
  .flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }
  
  /* horizontal flip when you move the mouse over the flip box container */
  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }
  
  /* Position the front and back side */
  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
  }
  
  /* Style the front side */
  .flip-box-front {
    background-color: beige;
    color: black;
  }
  
  /* Style the back side */
  .flip-box-back {
    background-color: teal;
    color: white;
    transform: rotateY(180deg);
  }

  .flip-box-back a {
      text-decoration: none;
      font-size: 2em;
      font-weight: bold;
      color: black;
      position: absolute;
      margin-top: 40%;
      margin-left: -15%;

  }



  /* * contact section styling */ */
  .contact {
    height: 80vh;
    width: 100%;
  }
.contact .title{
    text-align: center;
}
.contact .contact-content .column{
    width: calc(50% - 30px);
}
.contact .contact-content .text{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 10px;
}
.contact .contact-content .left p{
    text-align: justify;
}
.contact .contact-content .left .icons{
    margin: 10px 0;
}
.contact .contact-content .row{
    display: flex;
    height: 65px;
    align-items: center;
}
.contact .contact-content .row .info{
    margin-left: 30px;
}
.contact .contact-content .row i{
    font-size: 20px;
    margin-left: 5%;
    color: teal;
}
.contact .contact-content .info .head{
    font-weight: 500;
}
.contact .contact-content .info .sub-title{
    color: #333;
}
.contact .right form .fields{
    display: flex;
}
.contact .right form .field,
.contact .right form .fields .field{
    height: 45px;
    width: 100%;
    margin-bottom: 15px;
}
.contact .right form .textarea{
    height: 80px;
    width: 100%;
}
.contact .right form .name{
    margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea{
    height: 100%;
    width: 100%;
    border: 1px solid lightgrey;
    border-radius: 6px;
    outline: none;
    padding: 0 15px;
    font-size: 17px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus{
    border-color: #b3b3b3;
}
.contact .right form .textarea textarea{
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area{
  display: flex;
  align-items: center;
}
.right form .button-area button{
  color: #fff;
  display: block;
  width: 160px!important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;
  flex-wrap: nowrap;
  background: teal;
  border: 2px solid teal;
  transition: all 0.3s ease;
}
.right form .button-area button:hover{
  color: teal;
  background: none;
}



