* {
    margin: 0;
    padding: 0;
}
form {
    border: 1px solid grey;
    width: 700px;
    height: 500px;
    box-shadow: 3px 3px 5px grey;
    margin-left: 10%;
    margin-top: 7%;
}

label {
    padding-left: 10px;
}

label span {
    color: red;
}

select {
    width: 500px;
    height:37px;
}

.btn {
    margin-left: 40%;
    margin-top: 3%;
}