/* landing page */
.hero-ik{
    background-color: #0a192f;
}

.icons-ik{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.social-ik .fab{
   
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 13px;
    margin: 0 -2px;
}
.hero-ik img:hover{
    cursor: pointer;
    opacity: 0.8;
    /* background: blue; */
}
.card-ik{
    box-shadow: rgba(173, 166, 166, 0.25) 0px 5px 5px 2px;
    border: none;
    background-color: white;
    transition: all 0.5s linear;
    margin-top: -100px;
    border-radius: 0;
}
.card-ik:hover{
    
    cursor: pointer;
    /* animation: move-up 0.5s linear; */
    transform: translateY(-20px);
    
}
.card2-ik{
    box-shadow: rgba(173, 166, 166, 0.25) 0px 5px 5px 2px;
    border: none;
   
    transition: all 0.5s linear;
    color: white;
   
    margin-top: -100px;
    border-radius: 0;
}

.card2-ik:hover{
    
    cursor: pointer;
    /* animation: move-up 0.5s linear; */
    transform: translateY(-20px);
    
}
.custom-padding-ik{
    padding: 0 120px !important;
}
.vision-ik::after{
    content: "";
    width: 200px;
    height: 6px;
    background-color: #0077ff;
    left: 0;
    right: 0;
    bottom: 0;
    top: 25px;
    /* border-radius: 10%; */
    position: absolute;
}

.mission-ik::after{
    content: "";
    width: 350px;
    height: 6px;
    background-color: #0077ff;
    left: 0;
    right: 0;
    bottom: 0;
    top: 25px;
    /* border-radius: 10%; */
    position: absolute;
}
@media screen and (max-width:768px) {
    .card-ik, .card2-ik{
        margin-top: 0;
    }
    .custom-padding-ik{
        padding: 0 8px !important;
    }
    
}
