/* landing page */
.hero-ik{
    height: 90vh;
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("../landing-images/hammer-book.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.btn-signup{
    background-color: #008080 !important;
   
}
.warn-btn{
    background-color: #008080!important ;
}
.icons-ik{
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.social-ik .fab{
   
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 15px 13px;
    margin: 0 -2px;
}
.hero-ik img{
    box-shadow: 0;
}
.hero-ik img:hover{
    cursor: pointer;
    opacity: 0.8;
    /* background: blue; */
}
.card-ik{
    box-shadow: rgba(173, 166, 166, 0.25) 0px 5px 5px 2px;
    border: none;
    background-color: white;
    transition: all 0.5s linear;
    margin-top: -70px;
    border-radius: 0;
}
.card-ik:hover{
    
    cursor: pointer;
    /* animation: move-up 0.5s linear; */
    transform: translateY(-20px);
    
}
.card2-ik{
    box-shadow: rgba(173, 166, 166, 0.25) 0px 5px 5px 2px;
    border: none;
   
    transition: all 0.5s linear;
   background-color: #008080;
    margin-top: -80px;
    border-radius: 0;
}


.card2-ik:hover{
    
    cursor: pointer;
    /* animation: move-up 0.5s linear; */
    transform: translateY(-20px);
    
}
.custom-padding-ik{
    padding: 0 120px !important;
}
.vision-ik::after{
    content: "";
    width: 200px;
    height: 6px;
    background-color:teal;
    left: 0;
    right: 0;
    bottom: 0;
    top: 25px;
    /* border-radius: 10%; */
    position: absolute;
}
#about-us{
    margin-top: 100px;
    
}
#about-us h3{
    color: black;
    /* padding-top: 50px; */
    
}

.mission-ik::after{
    content: "";
    width: 350px;
    height: 6px;
    background-color:teal;
    left: 0;
    right: 0;
    bottom: 0;
    top: 25px;
    /* border-radius: 10%; */
    position: absolute;
}
@media screen and (max-width:768px) {
    .card-ik, .card2-ik{
        margin-top: 0;
    }
    .custom-padding-ik{
        padding: 0 8px !important;
    }
   .hero-ik{
       height: auto;
   }
    
}
