@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic&display=swap');
*{
    box-sizing: border-box;
    font-family: 'Gentium Book Basic', serif;

}


::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: black;
    border-radius: 2px;
}

.about-something{
    background-color: #f2f2f2;
}