*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');

.mybtns{
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid white;
}

.body{
    overflow: hidden;
    height: 100vh;
}

.size-{
    font-size: 2em;
}

.width{
    width: 100%;
}

.width2{
    width: f;
}

.height{
    height: 100%;
}

.name{
    font-family: 'Oleo Script Swash Caps', cursive;
    font-size: 1.5em;
    color: red;
}

.about{
    width: fit-content;
    border-radius: 20px;
    background-color: black;
    padding: 10px;
    border: 1px solid blue;
}

body{
    overflow: hidden;
}

.red{
    color:  #ff0000;
}

.profile-img{
    border-radius: 50%;
    border: 1px solid #ff0000;
}

.height1{
    height: 90vh;
    background: linear-gradient(180deg, blue 35%, black 35%);
}


.another{
    height: 86vh;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb{
    background: #ff0000;
    border-radius: 2px;
}

.content{
    height: 100vh;
}
