*{
    box-sizing: border-box;
}

.mybtns{
    background: rgba(0, 0, 0, .5);
    border-radius: 10px;
    color: white;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid white;
}

.size-{
    font-size: 2em;
}

.width{
    width: 100%;
}

.width2{
    width: f;
}

.height{
    height: 100%;
}